body {
  background-color: "{{ backgroundColor }}";
  color: "{{ textColor }}";
}

.mainFont{
    font-family: "Norse";
    font-size: 28px;
}

.mainFont2{
    font-family: "Norse";
    font-size: 20px;
}

.mainFont3{
  font-family: "Norse";
  font-size: 16px;
}