body {
  background-color: "{{ backgroundColor }}";
  color: "{{ textColor }}";
}

.mainFont{
    font-family: "Norse";
    font-size: 28px;
}

.mainFont2{
    font-family: "Norse";
    font-size: 20px;
}

@media only screen and (min-width: 1000px) {
  .mobile-only {
    display: none !important;
  }
}